<ui-component name="box" path="common.form" config="if:~PATH~;title:@(Access tokens);icon:ti ti-plug;autofocus:true;reload:?/reload;scrollbar:1;submit:?/submit;width:800" class="hidden" plugin="~PATH~">
	<nav>
		<button class="exec" data-exec="?/create"><i class="ti ti-plus-circle green"></i>@(Create)</button>
	</nav>
	<div>
		<ui-component name="empty" path="?.items" config="parent:auto;marign:20">
			<script type="text/html">
				@(The app doesn't contain any access tokens)
			</script>
			<div class="padding">
				<ui-bind path="?.items" config="template" class="listing2 block">
					<script type="text/html">
						{{ foreach m in value }}
						<figure data-id="{{ m.id }}" class="exec" data-exec="?/update">
							<section>
								<div class="pull-right">
									<span class="gray mr10 fs12">{{ m.dtcreated | format('[date]') }}</span>
									<span class="exec red" data-exec="?/remove" data-prevent="true"><i class="ti ti-trash"></i></span>
								</div>
								<span class="exec mr10 blue" data-exec="?/copy" title="@(Copy token to the clipboard)" data-prevent="true"><i class="ti ti-copy"></i></span>{{ m.name }}{{ if m.options.sql }}<span class="badge badge-medium badge-gray ml5">@(SQL)</span>{{ fi }}{{ if m.options.types }}<span class="badge badge-medium badge-gray ml5">@(Types)</span>{{ fi }}{{ if m.options.websocket }}<span class="badge badge-medium badge-gray ml5">@(WebSocket)</span>{{ fi }}{{ if m.types && m.types.length }}<span class="badge badge-medium badge-red ml5">@(Restricted)</span>{{ fi }}
							</section>
						</figure>
						{{ end }}
					</script>
				</ui-bind>
			</div>
		</ui-component>
	</div>
	<nav>
		<button name="cancel" style="width:100%">@(Cancel)</button>
	</nav>
</ui-component>

<script>

	PLUGIN(function(exports) {

		exports.reload = function(com) {
			exports.refresh();
		};

		exports.refresh = function() {
			exports.tapi('tokens @showloading ERROR', 'items @hideloading');
		};

		exports.update = function(el) {
			var id = ATTRD(el);
			exports.tapi('tokens_read/{0} ERROR'.format(id), function(response) {
				var path = 'formtoken';
				SET(path + ' @reset', response);
				SET('common.form2', path);
			});
		};

		exports.remove = function(el) {
			var id = ATTRD(el);
			SETTER('approve/show', '@(Are you sure you want to remove selected token?)', '"ti ti-trash" @(Remove)', function() {
				exports.tapi('tokens_remove/' + id, exports.refresh);
			});
		};

		exports.copy = function(el) {
			var id = ATTRD(el);
			var item = exports.model.items.findItem('id', id);
			SETTER('clipboard/copy', location.origin + '/api/?token=' + item.token);
			SETTER('notify/success', '@(Copied)');
		};

		exports.create = function() {
			var path = 'formtoken';
			SET(path + ' @default', { token: GUID(30) });
			SET('common.form2', path);
		};

	});

</script>