<ui-plugin path="~PATH~ datagrid" config="init:?/init">
	<div class="toolbar toolbar-bg" style="padding-left:20px;background-color:#F8F8F8">
		<div class="pull-right mt2">
			<span class="exec mr5" data-exec="?/copy" title="@(Copy ID to the clipboard)"><i class="ti ti-copy"></i></span> <span class="badge badge-gray"><code class="b" data-bind="?.id__text"></code></span>
		</div>
		<nav class="pull-left">
			<button class="exec" data-exec="?/refresh"><i class="ti ti-sync"></i>@(Refresh)</button>
			<button class="exec" data-exec="?/update"><i class="ti ti-cog"></i>@(Settings)</button>
		</nav>
		<nav class="pull-left ml10">
			<ui-bind path="?.checked" config="disabled .selection:!value || !value.length">
				<button class="exec b" data-exec="?/create"><i class="ti ti-plus-circle green"></i>@(Create)</button>
				<button class="exec selection" data-exec="?/copyclipboard" disabled><i class="ti ti-copy"></i>@(Copy to clipboard)</button>
				<button class="exec selection" data-exec="?/remove"  disabled><i class="ti ti-trash red"></i>@(Remove)</button>
			</ui-bind>
		</nav>
	</div>
	<div class="padding"></div>
</ui-plugin>

<script>
	PLUGIN('? datagrid', function(exports) {

		var ID;
		var Element;

		exports.init = function(scope, el) {

			Element = el;
			ID = ATTRD(el);

			var data = PLUGINS.common.prepare(ID);
			var columns = [];

			for (var col of data.head) {

				var obj = {};
				obj.name = col.id;
				obj.text = col.name;
				obj.width = 150;

				var index = col.id.indexOf('_');
				obj.title = index === -1 ? (col.name + ' - ' + col.id) : (col.name + ' - ' + col.id.substring(0, index));
				obj.type = 'string';

				switch (col.id) {
					case 'id':
						obj.width = 110;
						obj.monospace = 1;
						break;
					case 'name':
						obj.width = 200;
						break;
					case 'dtcreated':
					case 'dtupdated':
						obj.type = 'date';
						obj.width = 140;
						obj.format = '[ts]';
						break;
				}

				switch (col.type) {
					case 'type':
						obj.width = 180;
						break;
					case 'boolean':
					case 'number':
						obj.type = col.type;
						obj.width = 120;
						break;
					case 'currency':
						obj.type = 'number';
						obj.width = 120;
						obj.template = '{{ {0} | format }} <span class=\\\"gray\\\">{1}</span>'.format(col.id, col.currency);
						break;
					case 'email':
						obj.width = 200;
						obj.type = 'email';
						break;
					case 'date':
						obj.type = col.type;
						obj.width = 150;
						obj.format = '[ts]';
						break;
					case 'date2':
						obj.type = 'date';
						obj.width = 150;
						obj.format = '[date]';
						break;
					case 'password':
						obj.sort = false;
						obj.filter = false;
						obj.width = 150;
						obj.align = 1;
						obj.monospace = true;
						obj.template = '{{ if {0} }}*********{{ fi }}'.format(col.id);
						break;
					case 'icon':
						obj.sort = false;
						obj.filter = false;
						obj.width = 120;
						obj.align = 1;
						obj.template = '{{ if {0} }}<i class=\\\"{{ {0} }}\\\"></i>{{ fi }}'.format(col.id);
						break;
					case 'color':
						obj.width = 120;
						obj.monospace = true;
						obj.template = '{{ if {0} }}<i class=\\\"ti ti-circle\\\" style=\\\"color:{{ {0} }}\\\"></i> {{ {0} }}{{ fi }}'.format(col.id);
						break;
				}

				var str = '';

				for (var key in obj) {
					var val = obj[key];
					var type = typeof(val);
					str += (str ? ',' : '') + key + (type === 'number' || type === 'boolean' ? (':' + val) : (':"' + val + '"'));
				}

				columns.push('{' + str + '}');
			}

			exports.set('id', ID);
			Element.find('.padding').append(('<ui-component name="datagrid" path="{0}.response" config="height:.ui-windows-item;margin:135;checked:?.checked;exec:?/filter;click:?/detail" class="invisible"><scri' + 'pt type="text/html">[{1}]</scr' + 'ipt></ui-component>').format(exports.name, columns.join(',')));
		};

		exports.update = function() {
			EXEC('common/update', ID);
		};

		exports.refresh = function() {
			exports.set('response', null);
		};

		exports.detail = function(row) {
			EXEC('common/detail', ID, row.id);
		};

		exports.remove = function() {
			var model = exports.model;
			SETTER('approve/show', '@(Are you sure you want to remove selected ({0}x) records?)'.format(model.checked.length), '"ti ti-trash" @(Remove)', function() {
				model.checked.wait(function(item, next) {
					var url = 'DELETE /remove/{0}/{1}/'.format(ID, item.id) + common.openplatform;
					FUNC.log(url);
					exports.ajax(url, next);
				}, () => exports.set('response', null));
			});
		};

		exports.copyclipboard = function(el) {
			var opt = {};
			opt.element = el;
			opt.items = [];
			opt.items.push({ id: 'copyjson', name: '@(In JSON format)', icon: 'ti ti-copy' });
			opt.items.push({ id: 'copyxls', name: '@(To Excel)', icon: 'ti ti-table-alt' });
			opt.items.push({ id: 'copycsv', name: '@(To CSV)', icon: 'ti ti-file' });
			opt.callback = function(sel) {
				switch (sel.id) {
					case 'copyjson':
						exports.copyjson();
						break;
					case 'copyxls':
						exports.copytxt('\t');
						break;
					case 'copycsv':
						exports.copytxt(',');
						break;
				}
			};
			SETTER('menu/show', opt);
		};

		exports.copy = function(el) {
			SETTER('clipboard/copy', el.parent().find('code').text());
			SETTER('notify/success', '@(Copied)');
		};

		exports.copyid = function(el) {
			SETTER('clipboard/copy', el.text());
			SETTER('notify/success', '@(Copied)');
		};

		exports.copytxt = function(delimiter) {

			SETTER('loading/show');

			var model = exports.model;
			var arr = [];

			var data = PLUGINS.common.prepare(ID);

			var tmp = [];
			for (var col of data.head)
				tmp.push('"{0}"'.format(col.name));

			arr.push(tmp.join(delimiter));

			model.checked.wait(function(item, next) {
				exports.tapi('data_export/{0}/{1}'.format(ID, item.id) + common.openplatform + ' ERROR', function(response) {
					tmp = [];
					for (var col of data.head) {
						var val = response[col.id];
						if (val instanceof Date) {
							tmp.push('"{0}"'.format(val.format('yyyy-MM-dd HH:mm')));
						} else {
							switch (typeof(val)) {
								case 'string':
									tmp.push('"{0}"'.format(val.replace(/\"/, '""')));
									break;
								case 'number':
								case 'boolean':
									tmp.push(val + '');
									break;
								default:
									tmp.push(val == null ? '' : '<object>');
									break;
							}
						}
					}
					arr.push(tmp.join(delimiter));
					next();
				});
			}, function() {
				SETTER('loading/hide');
				SETTER('notify/success', '@(Copied)');
				SETTER('clipboard/copy', arr.join('\n'));
			});

		};

		exports.copyjson = function(el) {

			var model = exports.model;
			var arr = [];
			SETTER('loading/show');

			model.checked.wait(function(item, next) {
				exports.tapi('data_export/{0}/{1}'.format(ID, item.id) + common.openplatform, ERROR(function(response) {
					response.id = '@' + response.id;
					response.collection = ID;
					delete response.dtremoved;
					delete response.isremoved;
					arr.push(response);
					next();
				}));
			}, function() {
				SETTER('loading/hide');
				SETTER('notify/success', '@(Copied)');
				SETTER('clipboard/copy', STRINGIFY(arr));
			});

		};

		exports.create = function() {
			EXEC('common/detail', ID);
		};

		exports.filter = function(gtype, filter, sort, page) {

			if (!filter)
				filter = {};

			var model = exports.model;
			var data = {};

			data.sort = sort ? sort.join(',').replace(/_(asc|desc)/, text => ' ' + text.substring(1)) : null;
			data.page = page;
			data.where = [];

			var type = common.types.findItem('id', model.id);

			for (var key in filter) {

				var index = key.lastIndexOf('_');
				var tmp = key;
				if (index !== -1)
					tmp = tmp.substring(0, index);

				var attr = type.cache[tmp];
				if (attr) {
					switch (attr.type) {
						case 'string':
						case 'email':
						case 'phone':
						case 'html':
						case 'color':
						case 'logo':
						case 'file':
						case 'photo':
						case 'type':
						case 'user':
							data.where.push(key + '=' + encodeURIComponent('%' + filter[key] + '%'));
							break;
					}
				} else if (key === 'id' || key === 'name')
					data.where.push(key + '=' + encodeURIComponent('%' + filter[key] + '%'));
				else
					data.where.push(key + '=' + encodeURIComponent(filter[key]));
			}

			data.where = data.where.join('&');

			var url = QUERIFY('GET /list/{0}/'.format(ID) + common.openplatform, data);
			FUNC.log(url);
			exports.ajax(url, function(response) {
				var data = PLUGINS.common.prepare(ID, response.items);
				response.items = data.body;
				exports.set('response', response, gtype === 'refresh' ? 'noscroll' : null);
			});

		};

	});
</script>