<style>
	.dataform table.attrs { width: 100%; font-size: 13px; }
	.dataform table.attrs td { padding: 6px 0; border-top: 1px solid #E0E0E0; }
	.dataform table.attrs td:last-child { padding-left: 8px; padding-right: 8px; }
	.dataform table.attrs td:first-child { width: 30%; vertical-align: top; }
	.dataform table.attrs td.modified { background-color: #F8F8F8; }
	.dataform .value { min-width: 10px; position: relative; display: inline-block; outline: 0; min-height: 12px; }
	.dataform .checkbox { width: 16px; height: 16px; text-align: center; line-height: 15px; border: 1px solid #E0E0E0; border-radius: 3px; cursor: pointer; font-size: 11px; background-color: #FFF; }
	.dataform .checkbox i { visibility: hidden; color: var(--color); }
	.dataform .checkbox.checked { background: var(--color); border-color: var(--color); }
	.dataform .checkbox.checked i { visibility: visible; color: #FFF; }
	.dataform .multiline { position: relative; display: inline-block; white-space: break-spaces; }
</style>

<ui-plugin path="~PATH~ dataform" config="init:?/init" class="dataform">
	<div class="toolbar toolbar-bg">
		<button class="exec" data-exec="?/submit"><ui-bind path="?.modified" config="enabled" disabled></ui-bind><i class="ti ti-save"></i>@(Save)</button>
		<button class="exec" data-exec="?/copyjson"><i class="ti ti-code"></i>@(Copy JSON)</button>
	</div>
	<ui-component name="viewbox" path="null" config="parent:auto;margin:60">
		<div class="padding">
			<ui-bind path="?.meta" config="template;show" class="m block">
				<script type="text/html">
					<div class="keyvalue">
						<span>@(ID)</span>
						<div><span class="exec" data-exec="?/copy"><i class="ti ti-copy"></i></span><span class="badge badge-gray"><code>{{ value.id }}</code></span></div>
					</div>
					<div class="keyvalue">
						<span><i class="ti ti-calendar"></i>@(Created)</span>
						<div>{{ value.dtcreated | format('[ts]') | empty }} <span class="fs11 gray">{{ value.dtcreated | time2 }}</span></div>
					</div>
					<div class="keyvalue">
						<span><i class="ti ti-calendar"></i>@(Updated)</span>
						<div>{{ value.dtupdated | format('[ts]') | empty }}{{ if value.dtupdated }} <span class="fs11 gray">{{ value.dtupdated | time2 }}</span>{{ fi }}</div>
					</div>
				</script>
			</ui-bind>
			<ui-bind path="?.attrs" config="template" class="block">
				<script type="text/html">
					<table class="attrs">
						<tbody>
						{{ foreach m in value }}
							<tr title="{{ m.id }}">
								<td>{{ m.name }}</td>
								<td>
									{{ if m.type === 'date' }}
									<span data-id="{{ m.id }}" class="value exec" data-exec="?/date">{{ m.value | format('[ts]') | empty }}</span>
									{{ else if m.type === 'date2' }}
									<span data-id="{{ m.id }}" class="value exec" data-exec="?/date2">{{ m.value | format('[date]') | empty }}</span>
									{{ else if m.type === 'currency' }}
									<span data-id="{{ m.id }}" class="value edit" data-edit="exec:?/save;type:number;selectall:1;{{ if m.required }}required:1{{ fi }}">{{ m.value | format | empty }}</span> <span class="gray">{{ m.currency }}</span>
									{{ else if m.type === 'type' }}
									<span class="exec pull-right" data-exec="?/detail" data-id="{{ m.id }}"><i class="ti ti-search"></i></span>
									<span data-id="{{ m.id }}" class="value exec" data-exec="?/type">{{ m.text | empty }}</span>
									{{ else if m.type === 'icon' }}
									<span data-id="{{ m.id }}" class="value exec" data-exec="?/icon">{{ if m.value }}<i class="{{ m.value }}"></i>{{ else }}---{{ fi }}</span>
									{{ else if m.type === 'color' }}
									<span data-id="{{ m.id }}" class="value exec" data-exec="?/color">{{ if m.value }}<i class="ti ti-circle" style="color:{{ m.value }}"></i>{{ else }}---{{ fi }}</span>
									{{ else if m.type === 'boolean' }}
									<span data-id="{{ m.id }}" class="value exec checkbox{{ if m.value }} checked{{ fi }}" data-exec="?/checkbox"><i class="ti ti-check"></i></span>
									{{ else if m.type === 'object' }}
									<span data-id="{{ m.id }}" class="value"><code>{{ m.value | jsonformat }}</code></span>
									{{ else if m.type === 'multiline' }}
									<span data-id="{{ m.id }}" class="value edit multiline" data-edit="exec:?/save;selectall:1;multiline:1;{{ if m.required }}required:1{{ fi }}">{{ m.value | empty }}</span>
									{{ else }}
									<span data-id="{{ m.id }}" class="value edit{{ if m.id === 'name' }} b{{ fi }}" data-edit="exec:?/save;selectall:1;{{ if m.required }}required:1{{ fi }}">{{ m.value | empty }}</span>
									{{ fi }}
								</td>
							</tr>
						{{ end }}
						</tbody>
					</table>
				</script>
			</ui-bind>
		</div>
	</ui-component>
</ui-plugin>

<script>
	PLUGIN('? dataform', function(exports) {

		var ID;

		exports.init = function(scope, el) {

			ID = ATTRD(el).split('-');

			var item = DEF.cl.attrs.findItem('id', ID[0]);
			var attrs = CLONE(item.attrs);

			attrs = attrs.remove(n => n.array === true);
			attrs.unshift({ id: 'name', name: '@(Name)', value: '', type: 'string', required: 1 });

			exports.set('modified', false);

			for (var item of attrs) {
				switch (item.type) {
					case 'number':
					case 'currency':
						item.prev = item.value = item.default || 0;
						break;
					case 'boolean':
						item.prev = item.value = item.default || false;
						break;
					case 'type':
						item.text = '';
						item.prev = item.value = item.default || null;
						break;
					case 'date':
						item.prev = item.value = item.default == NOOP ? NOW : (item.default || null);
						break;
					default:
						item.prev = item.value = item.default || null;
						break;
				}
			}

			if (ID[1]) {
				var url = 'GET /read/{0}/{1}'.format(ID[0], ID[1]) + common.openplatform;
				FUNC.log(url);
				exports.ajax(url, ERROR(function(response) {
					for (var item of attrs) {
						var val = response[item.id];
						item.prev = val;
						if (item.type === 'type') {
							item.text = val ? val.name : null;
							item.value = val ? val.id : null;
						} else
							item.value = val;
					}
					exports.set('meta', response);
					exports.set('attrs', attrs);
				}, function() {
					SETTER('windows/close', 'detail' + ID.join(''));
				}));
			} else
				exports.set('attrs', attrs);
		};

		exports.detail = function(el) {
			var model = exports.model;
			var id = ATTRD(el);
			var attr = model.attrs.findItem('id', id);
			if (attr && attr.value)
				EXEC('common/detail', attr.typeid, attr.value);
		};

		exports.type = function(el) {

			var model = exports.model;
			var id = ATTRD(el);
			var opt = {};
			var attr = model.attrs.findItem('id', id);

			opt.element = el;
			opt.items = function(q, next) {
				var url = QUERIFY('GET /find/{typeid}/'.arg(attr) + common.openplatform, { fields: 'id,name', name: q });
				FUNC.log(url);
				exports.ajax(url + ' ERROR', function(response) {
					response.unshift({ id: null, template: '<b>@(Create)</b>' });
					next(response);
				});
			};

			opt.callback = function(selected) {

				if (selected.id == null) {
					EXEC('common/detail', attr.typeid);
					return;
				}

				attr.value = selected.id;
				attr.text = selected.name;
				el.text(selected.name);
				el.closest('td').tclass('modified', attr.prev ? attr.prev.id !== selected.id : !!selected.id);
				exports.validate();
			};

			SETTER('directory/show', opt);
		};

		exports.submit = function() {

			var close = function() {
				SETTER('windows/close', 'detail' + ID.join(''));
			};

			if (!exports.element.find('.modified').length) {
				close();
				return;
			}

			var model = exports.model;
			var data = {};
			var is = false;

			var type = common.types.findItem('id', ID[0]);

			data = {};
			data.id = ID[1];

			for (var item of model.attrs) {
				if (type.options.ispartial) {
					if (item.prev !== item.value) {
						data[item.id] = item.value;
						item.prev = item.value;
						is = true;
					}
				} else {
					data[item.id] = item.value;
					item.prev = item.value;
					is = true;
				}
			}

			if (!is) {
				close();
				return;
			}

			var url = 'POST /save/{0}/'.format(ID[0]) + common.openplatform;
			FUNC.log(url, data);
			exports.ajax(url + ' ERROR', data, function() {
				var key = 'data' + ID[0];
				SETTER('windows/close', 'detail' + ID.join(''));
				W[key] && NUL(key + '.response');
			});
		};

		exports.save = function(response, next) {
			var model = exports.model;
			var id = ATTRD(response.element);
			var attr = model.attrs.findItem('id', id);
			attr.value = response.value;
			next(true);
			response.element.closest('td').tclass('modified', attr.value !== attr.prev);
			exports.validate();
		};

		exports.icon = function(el) {
			var model = exports.model;
			var id = ATTRD(el);
			var attr = model.attrs.findItem('id', id);
			var opt = {};
			opt.element = el;
			opt.callback = function(val) {
				attr.value = val;
				el.html(val ? '<i class="{0}"></i>'.format(val) : DEF.empty);
				el.closest('td').tclass('modified', attr.value !== attr.prev);
				exports.validate();
			};
			SETTER('icons/show', opt);
		};

		exports.color = function(el) {
			var model = exports.model;
			var id = ATTRD(el);
			var attr = model.attrs.findItem('id', id);
			var opt = {};
			opt.element = el;
			opt.callback = function(val) {
				attr.value = val;
				el.html(val ? '<i class="ti ti-circle" style="color:{0}"></i>'.format(val) : DEF.empty);
				el.closest('td').tclass('modified', attr.value !== attr.prev);
				exports.validate();
			};
			SETTER('colorpicker/show', opt);
		};

		exports.checkbox = function(el) {
			var model = exports.model;
			var id = ATTRD(el);
			var attr = model.attrs.findItem('id', id);
			el.tclass('checked');
			attr.value = el.hclass('checked');
			el.closest('td').tclass('modified', attr.value !== attr.prev);
			exports.validate();
		};

		exports.date = function(el) {
			var model = exports.model;
			var id = ATTRD(el);
			var attr = model.attrs.findItem('id', id);
			var opt = {};
			opt.element = el;
			opt.callback = function(val) {
				attr.value = val;
				el.html(val.format('[ts]'));
				el.closest('td').tclass('modified', attr.value !== attr.prev);
				exports.validate();
			};
			SETTER('datepicker/show', opt);
		};

		exports.date2 = function(el) {
			var model = exports.model;
			var id = ATTRD(el);
			var attr = model.attrs.findItem('id', id);
			var opt = {};
			opt.element = el;
			opt.callback = function(val) {
				attr.value = val;
				el.html(val.format('[date]'));
				el.closest('td').tclass('modified', attr.value !== attr.prev);
				exports.validate();
			};
			SETTER('datepicker/show', opt);
		};

		exports.copyjson = function() {

			var model = exports.model;
			var data = {};

			if (model.meta) {
				data.id = model.meta.id;
				data.dtcreated = model.meta.dtcreated;
				data.dtupdated = model.meta.dtupdated;
			}

			for (var attr of model.attrs)
				data[attr.id] = attr.value;

			SETTER('clipboard/copy', JSON.stringify(data, null, '\t'));
			SETTER('notify/success', '@(Copied)');
		};

		exports.validate = function() {
			exports.set('modified', exports.element.find('.modified').length > 0);
		};

		exports.copy = function(el) {
			SETTER('clipboard/copy', el.parent().find('code').text());
			SETTER('notify/success', '@(Copied)');
		};

	});

</script>